// Variables
$my-neon: #ffd8d8;

@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";
@font-face {
  font-family: neon;
  src: url("../fonts/neon-future/Neon\ Future.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.neon-wrapper {
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
    0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
    inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  // border-radius: 8rem;
  width: 18rem;
  height: 18rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.neon-text {
  margin: 25px auto;
  line-height: 4.5rem;
  word-wrap: normal;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  font-family: neon;
  font-size: 2rem;
  font-weight: 100;
  color: $my-neon;
  letter-spacing: 0.33rem;
  text-shadow: 0.1vw 0vw 0.25vw #ffd8d8, 0.2vw 0vw 0.25vw #ffd8d8,
    0.4vw 0vw 0.25vw #ffd8d8, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
    0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
    0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
    0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
    0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b;
}

.result {
  position: relative;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  &__viewbox {
    display: inline-block;
    width: 90%;
    height: 20%;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    line-height: 2rem;
  }
}

.input-field {
  border: #212121 2px solid;
  width: 25rem;
  height: 25rem;
  background: #212121;
  margin: 1rem;
}

.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}
